<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
  <div class="container px-5">
    <a class="navbar-brand" [routerLink]="['/']">
    </a>
  </div>
</nav>
<header class="master-head">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-7 col-md-7">
        <h1 class="text-bold"><span class="highlight">THE BEST</span> <br> Online Casino Games</h1>
        <p>Japot 8 is a registered company in the Philippines and all of our online gaming
          operations strictly comply with the government’s regulations. Japot 8 is 100%
          safe and regulated. 
        </p>
        <p>
          Japot 8 is dedicated to bring you into the virtual world
          inspired by real-life casino games.
        </p>
        <div class="d-flex flex-column flex-lg-row align-items-center mt-5">
          <div>
            <a href="assets/res/Japot8.mobileconfig" role="button" class="btn btn-outline-light mb-4 me-lg-3"
              download>
              <i class="fab fa-apple"></i>
              IOS Lite
            </a>
          </div>
          <div>
            <a href="assets/res/JAPOT8.apk" role="button" class="btn btn-outline-light mb-4" download>
              <i class="fab fa-android"></i>
              Android
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5">
        <img src="assets/images/bg_1.png" class="img-fluid bg_1">
      </div>
    </div>
  </div>
</header>